
html {
    font-family: system-ui, sans-serif;
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.5;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100svh;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
    margin-block-end: 0.25rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    max-width: 75ch;
}

.site-header {
    display: grid;
    gap: 1rem;
    place-content: center;
    padding: 1rem;
}

.site-nav {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: center;
    list-style: none;
}

@media (min-width: 600px) {
    .site-header {
        grid-template-columns: 1fr auto;
    }
}

.site-footer {
    font-size: 0.95rem;
    padding: 0.5rem 1rem;
}